<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.tap.servlets.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <display-name>FirstMVNProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FetchData</display-name>
    <servlet-name>FetchData</servlet-name>
    <servlet-class>com.tap.servlets.FetchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchData</servlet-name>
    <url-pattern>/FetchData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteData</display-name>
    <servlet-name>DeleteData</servlet-name>
    <servlet-class>com.tap.servlets.DeleteData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteData</servlet-name>
    <url-pattern>/DeleteData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUser</display-name>
    <servlet-name>ModifyUser</servlet-name>
    <servlet-class>com.tap.servlets.ModifyUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUser</servlet-name>
    <url-pattern>/ModifyUser</url-pattern>
  </servlet-mapping>
</web-app>