<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Registerservlet</display-name>
    <servlet-name>Registerservlet</servlet-name>
    <servlet-class>com.tap.controller.Registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerservlet</servlet-name>
    <url-pattern>/Registerservlet</url-pattern>
  </servlet-mapping>
  <display-name>JeeHibernate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>